.TicketListCard {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.3125rem;

  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  backdrop-filter: blur(12px);
  box-shadow: 0px 8px 32px 0px #6E71911F;
}
